modules = ["nodejs-20:v4-20241108-0e498ea"]

run = "npm install && npm start"
entrypoint = "server/index.js"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm install && npm run build"]

[[ports]]
localPort = 3001
externalPort = 80
